.btn {
    @include transition(all .3s ease-out);
    padding: 5px 10px;
    text-shadow: none;
    border-radius: 0;
    border: none;
    span {
        //color: $yellow;
    }
    &:hover { 
        span {
            //color: $lightest-blue;
        }
    }
}

.btn-submit {
    padding: 10px 60px;
    font-size: 20px;
}