@import 'src/styles/core/_mixins.scss'; 
@import 'src/styles/core/_breakpoints.scss'; 

 
.footer-component {
  background: #333;
  color: #fff;
  margin-top: 100px;
  [class*='col-sm'] { 
      padding-right: 0;
      padding-left: 0;
      @include breakpoint(sm){
      padding-right:15px;
      padding-left: 15px
      }
      address {
      line-height: 25px;
      }
  }
  .chat-block {
      position: absolute;
      right: 5px;
      top: -62px;
      background: #333;
      padding: 20px 20px 14px 20px;
      p {
      font-family: 'ProximaNova-Semibold';
      margin: 0px;
      padding-right: 20px;
      float: left;
      }
      .chat-icon {
      padding-left: 20px;
      color: #00c4b4;
      font-weight: bold;
      border-left: 2px solid #00c4b4;
      }
  }
  .wrapper-1 {
      position: relative;
      padding-top: 50px;
      padding-bottom: 20px;
      border-bottom: 1px solid #8f8f8f;
  }
  .wrapper-2 {
      padding-top: 40px;
      padding-bottom: 40px;
      color: #b3b3b3;
      li {
      line-height: 22px;
      a {
          color: #b3b3b3;
          display: inline-block;
          &:hover {
          color: #fff;
          }
      }
      }
      .follow-us {
      padding-left: 97px;
      }
      .socialIcon li {
      padding: 0px 15px;
      &:last-child {
          padding-right: 0;
      }
      }
  }
  .copyright {
      padding-bottom: 8px;
      color: #b3b3b3;
  }
  .signup-box {
      max-width: 322px;
      min-width: 314px;
      .form-control {
      box-shadow: none;
      border: 0;
      height: 43px;
      float: left;
      width: calc(100% - 55px);
      }
      .signup-btn {
      background: #00c4b4;
      height: 43px;
      width: 55px;
      color: #fff;
      }
      .errormsg {
      color: red;
      }
  }
  }