<!-- Footer Start -->
<section class="footer-component">
  <footer class="container"> 
      <div class="row wrapper-1"> 
          <div class="chat-block">
              <p>We are here, let's chat!</p>
              <i class="icon-chat chat-icon"></i>
          </div>
          <div class="col-sm-4">
              <address>Have questions?
                  <br />
                  <a href="tel:9971015501">
                      <span class="green">1-844-840-4667</span>
                  </a>24/7 Dedicated Customer Support
                  <br />
                  <a class="green" href="mailto:Support@Tripify.com">Support@Tripify.com</a>
              </address>
          </div>
          <div class="col-sm-4">
              <address>Tripify
                  <br />3100 E 45th St. #310
                  <br />Cleveland, OH 44127</address>
          </div>
          <div class="col-sm-4">
              <div class="signup-box pull-right">
                  <p>Sign up for some travel goodies. </p>
                  <input type="text" class="form-control" id="emailIdd" placeholder="Search for..."
                  />
                  <button class="btn btn-lg btn-default signup-btn" onclick="return validateNewsletter();" type="button">
                      <i class="icon-compass"></i>
                  </button>
                  <span id="emailValErr" class="errormsg" style="display: none;">You have entered an invalid email address!</span>
                  <span id="newsSuccess"></span>
              </div>
          </div>
      </div>
      <div class="row wrapper-2">
          <div class="col-sm-3">
              <ul class="list-default">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about-us">About Us</a></li>
                  <li><a href="/site-map">Site Map</a></li>
              </ul>
          </div>
          <div class="col-sm-5">
              <ul class="list-default">
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="/ccv/form" target="blank">Credit Card Authorization Form</a></li>
                  <li><a href="/terms-condition">Terms of Use</a></li>
              </ul>
          </div>
          <div class="col-sm-4 text-right hide">
              <div class="follow-us">Follow Us on</div>
              <ul class="list-inline socialIcon fs20">
                  <li><a href="#" class="icon-facebook"></a></li>
                  <li><a href="#" class="icon-twitter"></a></li>
                  <li><a href="#" class="icon-google-plus"></a></li>
                  <li><a href="#" class="icon-linkedIn"></a></li>
                  <li><a href="#" class="icon-vimeo"></a></li>
                  <li><a href="#" class="icon-instagram"></a></li>
              </ul>
          </div>
      </div>
      <div class="text-center copyright">
          <p>&copy; 2016-2017 Tripify, Inc. All rights reserved.</p>
      </div>
  </footer>
</section>
<!-- Footer End -->

<!-- <div>
  footer works!
  <mat-checkbox>Check me!</mat-checkbox>
</div> -->