<section class="dynamicdeal-component">
  <div class="container" id="best-fare">
      <div class="row">
          <div class="dynamicdeal-panel">
              <!--Start: International Deal  >> yellow-bg-->
              <div id="international">
                  
                <div class="dynamicdeal-panel-section" *ngFor="let x of [1, 2, 3]">
                    <i class="icon-slider-right section-icon"></i>
                    <div class="row">
                        <div class="col-md-6">

                            <ul class="list-inline country-section">
                                <li>
                                    <div class="h2">
                                        <small class="deal-city-name text-uppercase">sfs {{x}}</small>
                                        <div class="fs60">errr</div>
                                    </div>
                                </li>
                                <li class="fs30 icon-slider-right"></li>
                                <li>
                                    <div>
                                        <div class="h2">
                                            <small class="deal-city-name text-uppercase">121sd</small>
                                            <div class="fs60">4fddf</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="deal-date">sdf - jhk</div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-7 dynamic-hotel-img">
                                    <ul class="list-inline hotel-image">
                                        <li>
                                            <figure>
                                                <img class="img-responsive" src="/assets/hotel-thumb.jpg" alt="Hotel Image" />
                                            </figure>
                                        </li>
                                        <li class="wether">
                                            <div>
                                                <img src='' width='30px;' height='30px;' /> gyt
                                                <sup>&#8451;</sup>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="devider">
                                        <div class="line1"></div>
                                        <div class="line2"></div>
                                    </div>
                                </div>
                                <div class="col-md-5 text-center travel-amount">
                                    <div class="h3">
                                        <small>From USD</small>
                                        <sup>$</sup>er45rer
                                        <sup>werffdgd</sup>
                                        <small>ytiyu</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
              </div>
              <!--End: International Deal -->

              <!-- <div class="dynamicdeal-tab text-center">
                  <span class="btn btn-primary">
                      <i class="icon icon-slider-down"></i>
                      <b>SHOW MORE</b>
                  </span>
              </div> -->

          </div>
      </div>
  </div>
</section>
