<section class="support-component">
  <div class="container">
      <div class="row">
          <div class="col-sm-4 backDrop-image">
              <div class="backDrop"></div>
              <img class="img-responsive" src="/assets/support.png" alt="support" />
          </div>
          <div class="col-sm-8">
              <div class="title">
                  We are always
                  <br>available on call.
              </div>
              <p>We, at Tripify, works smart, thinks creative and delivers with confidence. So, don't hesitate to give
                  us a call. We will cater to your traveling needs and answer all your queries.</p>
              <div class="tel-num">
                  <a href="tel:18448404667">1-844-840-4667</a>
              </div>
          </div>
      </div>
  </div>
</section>
